<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="100%">
        <div>
            <nav>Gustavo barra de busqueda</nav>
        </div>
        <br>
        <p>Compra en cuotas y sin tarjeta de credito</p>
        <section>
            <nav>
                <ul>
                    <li><a href="/Ofertas"> ofertas</a></li>
                    <li><a href="/TiendasOficiales"> Tiendas Oficiales</a></li>
                    <li><a href="/Vender"> Vender</a></li>
                    <li><a href="/Ayuda"> Ayuda</a></li>
                </ul>
              
        </section>
        <br>
        <section>
            <nav>
                <ul>
                    <li><a href="/CreaTuCuenta"> Crea tu cuenta</a></li>
                    <li><a href="/Ingresa"> Ingresa</a></li>
                    <li><a href="/MisCompras"> Mis Compras</a></li>
                </ul>
                <img src="/images/img-home-banner.jpg" alt="home-banner" width="100%">
        </section>

       
    </header>
    <main>
        <section>
        <h1>
            <li><strong>Basado en tu ultima visita</strong></li>
        </h1>

        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="100%">
        <p>$6770</p>
        <p>40% OFF</p>
        <h3>Cafetera Moulinex</h3>
        <br>
        <img src="/images/img-macbook-pro-2019.jpg" alt="maxbook-pro" width="100%">
     <p>$230000</p>
     <p>20% off</p>
     <h3>Macbook Pro 2019</h3>
     <br>
     <img src="/images/img-samsung-galaxy-s10.jpg" alt="sangung-galaxi" width="100%">
     <p>$230000</p>
     <p>20% off</p>
     <h3>Macbook Pro 2019</3>
     <br>
     <img src="/images/img-tv-samsung-smart.jpg" alt="sangsung-smart" width="100%">
     <p>$230000</p>
     <p>20% off</p>
     <h3>Macbook Pro 2019</h3>

    </section>
    <section>
        <h1>
            <li><strong>Seccion de Ofertas</strong></li>
        </h1>

        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="100%">
        <p>$6770</p>
        <p>40% OFF</p>
        <h3>Cafetera Moulinex</h3>
        <br>
        <img src="/images/img-macbook-pro-2019.jpg" alt="maxbook-pro" width="100%">
     <p>$230000</p>
     <p>20% off</p>
     <h3>Macbook Pro 2019</h3>
     <br>
     <img src="/images/img-samsung-galaxy-s10.jpg" alt="sangung-galaxi" width="100%">
     <p>$230000</p>
     <p>20% off</p>
     <h3>Macbook Pro 2019</h3>
     <br>
     <img src="/images/img-tv-samsung-smart.jpg" alt="sangsung-smart" width="100%">
     <p>$230000</p>
     <p>20% off</p>
     <h3>Macbook Pro 2019</h3>

    </section>
    <footer>
        
      









    </footer>










    </main>

</body>

</html>